.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/docs/data/baseline_optimization/GI-B-I/auto_baseline_data/*.parquet
/docs/data/baseline_optimization/GI-B-I/cfx_data/*.parquet
/docs/data/baseline_optimization/GI-B-I/raw_data/*.parquet
/docs/data/baseline_optimization/GI-B-I/strep_plus1_data/*.parquet
/docs/data/baseline_optimization/GI-B-I/strep_plus2_data/*.parquet