absl-py
astor
astunparse==1.6.3
backcall
backports.functools-lru-cache
cached-property
cachetools==5.3.3
certifi
charset-normalizer==3.3.2
colorama
cycler
debugpy
decorator
entrypoints
flatbuffers==24.3.7
fonttools
future
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio
h5py
idna==3.6
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing
kiwisolver
libclang==18.1.1
Markdown
MarkupSafe
matplotlib
matplotlib-inline
munkres==1.1.4
nest_asyncio
numpy
oauthlib==3.2.2
opt-einsum==3.3.0
packaging
pandas
parso
patsy
pickleshare
Pillow
plotly
ply==3.11
polars
progressbar2
prompt-toolkit
protobuf==3.19.6
psutil
pyarrow==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygam
Pygments
pyparsing
PyQt5==5.15.7
PyQt5-sip
python-dateutil
python-utils
pytz
pywin32==303
pyzmq
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn
scipy
seaborn
sip
six
statsmodels
tenacity
termcolor
threadpoolctl
toml
tornado
traitlets
typing_extensions
unicodedata2
urllib3==2.0.7
wcwidth
Werkzeug
wrapt
zipp
