absl-py==2.1.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
backcall==0.2.0
backports.functools-lru-cache==2.0.0
cached-property==1.5.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
entrypoints==0.4
executing==2.0.1
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1703780968325/work/dist
flatbuffers==24.3.7
fonttools==4.53.0
future==1.0.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.64.0
h5py==3.11.0
idna==3.6
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
ipykernel==6.29.4
ipython==8.12.3
jedi==0.19.1
joblib==1.4.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257325428/work
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
munkres==1.1.4
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest-asyncio==1.6.0
numpy==1.24.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.0
pandas==2.0.3
parso==0.8.4
patsy==0.5.6
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly==5.22.0
ply==3.11
polars==0.20.31
progressbar2==4.4.2
prompt_toolkit==3.0.45
protobuf==3.19.6
psutil==5.9.8
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygam==0.9.1
Pygments==2.18.0
pyparsing==3.1.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-utils==3.8.2
pytz==2024.1
pywin32==303
PyYAML @ file:///D:/bld/pyyaml_1695373562753/work
pyzmq @ file:///D:/bld/pyzmq_1715024561746/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests==2.31.0
requests-oauthlib==2.0.0
rpds-py @ file:///D:/bld/rpds-py_1715090106303/work
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
sip==6.8.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data==0.6.3
statsmodels==0.14.1
tenacity==8.3.0
termcolor==2.4.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
tornado @ file:///D:/bld/tornado_1708363253587/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typing_extensions==4.12.1
tzdata==2024.1
unicodedata2==15.1.0
urllib3==2.0.7
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.16.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
